{% extends 'base.html' %}
{% load static %}


{% block content %}



    <div class="wrap2">
      <div class="cat">
        <span>Dream club</span>
      </div>
      <h2> Факт дня</h2>
      <div class="post">
        <span class="public">10 Июня, 2018</span>
        <p>Игра в шахматы в Древней Индии могла закончиться очень плачевно для одного из участников. По правилам
            побежденный должен был пожертвовать одним пальцем на руке.</p>
        <a class="more-link" href="#">
        <span class="more-button">read</span>
        </a>
      </div>
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="three">
                        <div class="logo-title">
                            <div class="hdr">Новые поступления</div>
                        </div>
                    </div>
                </div>
                {% for product_image in products_images %}
                    {% include 'landing/product_item.html' %}
                {% endfor%}

            </div>
        </div>
    </div>

    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="three">
                        <div class="logo-title">
                            <div class="hdr">Дешевые игры</div>
                        </div>
                    </div>
                </div>
                {% for product_image in products_images_phones %}
                    {% include 'landing/product_item.html' %}
                {% endfor%}

            </div>
        </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="three">
                        <div class="logo-title">
                            <div class="hdr">Популярные игры</div>
                        </div>
                    </div>
                </div>
                {% for product_image in products_images_laptops %}
                    {% include 'landing/product_item.html' %}
                {% endfor%}

            </div>
        </div>
    </div>
{% endblock %}