<div class="col-lg-4">
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href="{% url 'product' product_image.product.id %}"><img height="200" src="{{ product_image.image.url }}" class="img-fluid" width="170" /></a>
            </div>
            <div class="loop-action">
                <a href="{% url 'product' product_image.product.id %}" class="add-to-cart">Быстрый просмотр</a>
                <a href="/checkout/" class="loop-add-to-cart">В корзину</a>
            </div>
        </div>

        <div class="product-info">
            <div class="price2">{{ product_image.product.short_description }}</div>
            <h3 class="product-title">{{ product_image.product.name }}</h3>
            <div class="price">&#8381; {{ product_image.product.price }}</div>
        </div>
    </div>
</div>