html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #55EFCB 0%, #5BCAFF 100%);
    height: 100%;
}

.transform-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 20px;
  border: 1px solid #68E5F7;
  background: transparent;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  perspective: 500px;
  background: white;
  transition: .3s;
}
.transform-button:last-of-type {margin-right: 0;}
.transform-button span {
  position: relative;
  z-index: 2;
}
.transform-button:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #68E5F7;
  transform-origin: left;
  transition: .5s;
}
.transform-button:hover {
  color: #68E5F7;
  border-color: #68E5F7;
 }
.transform-button:hover:before {transform: rotateY(92deg);}

.one {
  background: orange;
  padding: 50px 20px;
  text-align: center;
}
.one h1 {
  font-family: 'Righteous', cursive;
  position: relative;
  color: white;
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 3em;
  padding: 11px 60px;
  margin: 0;
  line-height: 1;
}
.one h1:before, .one h1:after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background: repeating-linear-gradient(180deg, transparent, transparent 2px, white 2px, white 4px);
}
.one h1:before {left: 0;}
.one h1:after {right: 0;}
@media (max-width: 420px) {
  .one h1 {font-size: 2em;}
}

.top-container{
    padding-top: 5%;
}

.general-container{
    height: 100%;
}

.general-container form{
    margin-top: 30px;
}

.general-container form label{
    font-weight: 100;
    color: yellow;
}

.title{
    text-align: center;
    color: yellow;
    font-weight: 100;
    line-height: 50px;
}

.navbar-button{
    background-color: #55e073;
    border: none;
    color: #d3fb05e8;
    border-radius: 0;
    margin-top: 10px;
    padding: 20px 20px;
}









