@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
*, *:before, *:after{box-sizing:border-box}
.wrap {
  position: relative;
  margin: 50px auto;
  text-align: center;
  width: 320px;
  height: 370px;
  background: white;
  padding: 30px 40px;
  border: 1px solid rgba(0,0,0,.1);
}
.wrap:before, .wrap:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid rgba(0,0,0,.1);
  background: white;
}
.wrap:before {
  top: 5px;
  left: -5px;
  z-index: -1;
}
.wrap:after {
  top: 10px;
  left: -10px;
  z-index: -2;
}
.cat span {
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ff6f5a;
  font-weight: bold;
}
h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333333;
}
.public {
  font-family: 'Didact Gothic', sans-serif;
  color: #999999;
  font-size: 13px;
}
p {
  font-family: 'Didact Gothic', sans-serif;
  color: #555555;
  font-size: 14px;
  line-height: 22px;
}
.more-button {
  font-family: 'Comfortaa', cursive;
  color: #333333;
  font-size: 11px;
  padding-bottom: 8px;
  display: inline-block;
  margin: 35px 0 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: .35s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}
.more-button:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  height: 1px;
  width: 40px;
  background: #333333;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}
.more-button:hover {
  color: #ff6f5a;
}
.more-button:hover:before {
  background: #ff6f5a;
}















.three {
  padding: 50px 20px;
  text-align: center;
}
.three h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #FCF2E5;
  background: #90806A;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.three h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -15px;
  background: #90806A;
}
.three h1:after {
  content: "";
  position: absolute;
  height: 0;
  width: 80%;
  border-top: 10px solid #90806A;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
@media (max-width: 500px) {
  .three h1 {font-size: 1.8em;}
}
@media (max-width: 400px) {
  .three h1 {
    font-size: 1.5em;
    padding: 10px 30px;
  }
}


.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}




body {background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);}
.btn{
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: orange;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.btn:hover {
  background: deepskyblue;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}






.box {
  width: 500px;
  margin: 50px auto 0;
  position: relative;
  overflow: hidden;
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.box-inner img {
  transition: all 0.4s ease-in-out;
}
.text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -40px;
  text-align: center;
  z-index: 2;
}
.text h2 {
  font-family: 'Forum', cursive;
  color: white;
  display: inline-block;
  font-size: 50px;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  border-width: 1px 0;
  border-color: rgba(255,255,255,0.5);
  border-style: solid;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.box:hover:before {
  opacity: 1;
}
.box:hover img {
  transform: scale(1.1);
}
.box:hover .text h2 {
  opacity: 1;
}







.menu-main {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
  background: yellowgreen;
}
.menu-main:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: -20px;
  background: radial-gradient(yellowgreen 0%, yellowgreen 70%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%) 0 -10px;
  background-size: 20px 20px;
  background-repeat: repeat-x;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 30px;
  font-family: 'PT Sans Caption', sans-serif;
  color: #777777;
  transition: .3s linear;
  position: relative;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F58262;
  opacity: 0;
  transition: .5s ease-in-out;
}
.menu-main a:before {left: 5px;}
.menu-main a:after {right: 5px;}
.menu-main a.current:before,
.menu-main a.current:after,
.menu-main a:hover:before,
.menu-main a:hover:after {opacity: 1;}
.menu-main a.current,
.menu-main a:hover {color: #F58262;}
@media(max-width:680px) {
  .menu-main li {display: block;}
}




html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);
}

.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.section-top{
    margin-bottom: 20px
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    height: 400px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}


.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.navbar-button{
    background-color: #55e073;
    border: none;
    color: #d3fb05e8;
    border-radius: 0;
    padding: 15px ;
}


.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: yellowgreen;
    border: none;
    border-radius: 0;
}

.navbar-main{
    background-color: #55e073;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    text-align: center;
    width: 250px;

    padding: 5px 5px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 10px;
}

.form-error{
    color: red;
}